# ===== STM32CubeIDE / Eclipse =====
.metadata/
workspace/
.settings/
*.launch

# ===== Build artifacts =====
Debug/
Release/
*.o
*.elf
*.map
*.su
*.cyclo

# ===== CubeMX =====
*.mxproject

# ===== OS =====
.DS_Store
Thumbs.db
