# =========================
# STM32CubeIDE / Eclipse
# =========================
.metadata/
workspace/
.settings/
*.launch
*.log

# =========================
# Build artifacts
# =========================
Debug/
Release/
build/
*.elf
*.hex
*.bin
*.map

# =========================
# CubeMX
# =========================
*.mxproject

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db
*.swp

# =========================
# Git
# =========================
*.orig
